%btn {
    display: inline-flex;
    font-family: var(--ff-primary);
    font-weight: var(--fw-medium);
    padding: 0.75rem 1.75rem;
    cursor: pointer;
    border-radius: var(--border-radius-sm);
}

.btn-primary {
    @extend %btn;

    --p-btn-clr: var(--clr-neutral-10);
    --p-txt-clr: var(--clr-neutral-100);

    background-color: hsl(var(--p-btn-clr));
    color: hsl(var(--p-txt-clr));
}